<h2 class="text-center mt-2"><a href="http://www.automatedcontrols.us">Automated Controls of Tampa, Inc</a></h2>
<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <img  class="img-responsive" width="150" height="100" src="assets/Images/th.jpg">
        </div>
        <div class="col-sm-9">
            <br>
            <p><i>Automated Controls of Tampa, Inc.</i> was founded in 2000 to provide industrial control solutions 
                to manufacturing facilities.  Our diversely skilled team has over 85 years of combined industry experience.
                Contact us today for all of your Industrial Automation needs</p>
        </div>
    </div>
</div>